<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tireshoppingmall.home.admin.order.AdminOrderMapper">

	<!-- Order 페이징 (order 갯수 카운트) -->
	<select id="getOrderCount" resultType="int">
	    SELECT COUNT(*)
	    FROM product_order
	    WHERE
	        o_name LIKE CONCAT('%', #{nameInput}, '%')
	        AND o_phone LIKE CONCAT('%', #{phoneInput}, '%')
	        AND o_ordernumber LIKE CONCAT('%', #{orderNumberInput}, '%')
	        <if test="dateSearch1 != '' and dateSearch2 != ''">
	            AND o_orderdate BETWEEN #{dateSearch1} AND DATE_ADD(#{dateSearch2}, INTERVAL 1 DAY)
	        </if>
	</select>
	
	<!-- Order 페이징 -->
	<select id="getOrder" resultType="com.tireshoppingmall.home.admin.order.OrderDTO">
	    SELECT * FROM (
	        SELECT @rownum := @rownum + 1 AS rn, o_no, o_sortation, o_ordernumber,
	            o_orderdate, o_name, o_product, o_phone, o_ordername, o_price,
	            o_paymethod, o_deliverymethod, o_step, o_storeshop, o_tireinstalldate, o_email,
	            o_caryear, o_carbrand, o_carname, o_carnumber, o_request
	        FROM product_order,
	        (SELECT @rownum := 0) r
	        WHERE
	            o_name LIKE CONCAT('%', #{nameInput}, '%')
	            AND o_phone LIKE CONCAT('%', #{phoneInput}, '%')
	            AND o_ordernumber LIKE CONCAT('%', #{orderNumberInput}, '%')
	            <if test="dateSearch1 != '' and dateSearch2 != ''">
	                AND o_orderdate BETWEEN #{dateSearch1} AND DATE_ADD(#{dateSearch2}, INTERVAL 1 DAY)
	            </if>
	        ORDER BY o_no
	    ) AS temp
	    WHERE rn <![CDATA[>=]]> #{start} AND rn <![CDATA[<=]]> #{end}
	</select>
	
	<update id="updateOrder">
	    UPDATE product_order SET o_step = #{o_step} WHERE o_no = #{o_no}
	</update>
	
	<delete id="deleteOrder">
	    DELETE FROM product_order WHERE o_no = #{o_no}
	</delete>

</mapper>