<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.tireshoppingmall.home.admin.auth.AdminAuthMapper">

	<delete id="authDelete">
		delete auth_user where u_id = #{u_id}
	</delete>


	<update id="authUpdate">
	    UPDATE auth_userinfo
	    SET i_grade = #{i_grade}
	    WHERE i_no = #{i_no}
	</update>

	<select id="getAuthCount" resultType="int">
	    SELECT COUNT(*)
	    FROM auth_user u
	    JOIN auth_userinfo ui ON u.u_no = ui.i_no
	    WHERE u.u_id LIKE CONCAT('%', #{u_id}, '%')
	    AND ui.i_name LIKE CONCAT('%', #{i_name}, '%')
	    <if test="i_grade != 0">
	        AND ui.i_grade = #{i_grade}
	    </if>
	</select>
	
	<select id="getAuth" resultType="com.tireshoppingmall.home.admin.auth.AuthDTO">
	    SELECT u.u_no, u.u_id, u.u_logintype, ui.i_no, ui.i_name, ui.i_phonenum, 
	           ui.i_newdate, ui.i_grade, ui.i_email, mc.mc_number, mc.mc_id, 
	           mc.mc_carname, mc.mc_brand, mc.mc_year
	    FROM auth_user u
	    INNER JOIN auth_userinfo ui ON u.u_no = ui.i_no
	    LEFT JOIN my_car mc ON u.u_no = mc.mc_id
	    WHERE 1=1
	    <if test="u_id != ''">
	        AND u.u_id LIKE CONCAT('%', #{u_id}, '%')
	    </if>
	    AND ui.i_name LIKE CONCAT('%', #{i_name}, '%')
	    <if test="mc_number != null">
	        AND mc.mc_number = #{mc_number}
	    </if>
	    <if test="i_grade != 0">
	        AND ui.i_grade = #{i_grade}
	    </if>
	    ORDER BY ui.i_newdate DESC
	    LIMIT #{start}, #{end} 
	</select>

</mapper>