<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tireshoppingmall.home.HomeMapper">
	<select id="checkAdmin" resultType="com.tireshoppingmall.home.HomeGradeCheck">
		select i_grade from auth_user, auth_userinfo where u_no = i_no and u_no = #{u_no}
	</select>
</mapper>