@charset "UTF-8";

@tire_container{
	position: relative;
	margin: 0;
	padding: 0;
}



#tire_searchBox{
	display: flex;
	min-width:900px;
}

#tire_content{
	/* margin-top:20px;  */
    width: 100%;
    text-align: center;
    font-size: 20pt;

}

.tire_form{
	height:70px;
	width: 100%;
	background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}


#tire_searchBox{
	padding-top: 20px;
	padding-left: 30px;
}

.tire_searchTitle{
	display: flex;
	justify-content:center;
	align-items:center;
	font-size: 15pt;
	margin-right: 20px;
	padding:6px;
	border-radius:10px;
	background-color: #181C32;
	color:white;
	height: 30px;
}
.tire_searchTitle select{
	height: 29px;
    width:200px;
    font-size: 14pt;
    border-radius:10px; 
    font-family: GmarketSansMedium;
    text-align: center;
    align-items: center;
    valign: middle;
}
.tire_searchID input{
	height: 30px;
	font-size: 13pt;
	border-radius:10px; 
	font-family: GmarketSansMedium;
	padding-left: 10px;
}

.searchtirebtn{
  background-color: #5F5F5F;
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
 position:absolute;
 top:110px;
  margin-left:20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 50px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin: 20px;
  
}

.searchtirebtn:hover {
  background-color: #FFFFFF;
  color: #5F5F5F;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}



#admin_tire_content{
	margin-left:10px;
	margin-right:10px;
    border-spacing:0px;
    width: 99%;
    text-align: center;
    font-size: 20pt;
    margin-bottom: 65px;
    margin-top: 5px;
    border: 1px #a39485 solid;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
    
}


#admin_tire_reg{
  background-color: #5F5F5F;
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
 position:absolute;
 right:5px;
top:110px;
  margin-left:20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 50px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin: 20px;
}

#admin_tire_reg:hover {
	 background-color: #FFFFFF;
  color: #5F5F5F;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

.admin_tire_content_title{
    font-size: 15pt;
    padding: 15px;
    background-color: #343a40;
    color: white;
    text-align: center;
	border: 1px solid #343a40;
	user-select: none;	
}

.admin_tire_no{
	width: 5%;
}
.admin_tire_brand{
	width: 16%;
}
.admin_tire_name{
	width: 31%;
}
.admin_tire_print{
	width: 8%;
}
.admin_tire_sedanPrint{
	width:8%;
}
.admin_tire_SUVPrint{
	width:8%;
}
.admin_tire_dcrate{
	width:8%;
}
.admin_tire_sizeNum_date{
	width: 6%;
}
.admin_tire_management{
	width: 10%;
}



#admin_tires_content{
	text-align: center;
	font-size: 15pt;	
	border: 1px solid #343a40;
	height: 60px;
}

.admin_tire_table_td{
	padding-bottom: 3px;
	padding-top: 3px;
	border: 1px solid #343a40;	
}

.admin_tire_dcrate_input{
	width:42px;
	font-family: GmarketSansMedium;
	font-size: 17pt;
	text-align: right;
	border: none;
}


.admin_printBTN, .save-btn, .imgbtn {
	border-radius:7px;
	padding:6px;
	color: #0d6efd;
    background-color: #fff;
    border-color: #0d6efd;
    font-size: 12pt;
    font-weight: 900;
    cursor: pointer; 
    user-select: none;
    font-family: GmarketSansMedium;	
}
.admin_printBTN:hover, .save-btn:hover, .imgbtn:hover {
	color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

    

.admin_notPrintBTN, .detail-updateBtn, .cancle-btn {
	margin-left:5px;
	margin-right:5px;
	border-radius:7px;
	font-weight: 900;
	font-size: 12pt;
	padding:6px;
	color: #212529;
    background-color: #fff;
    border-color: #212529;
    cursor: pointer; 
    user-select: none;
    font-family: GmarketSansMedium;	
}
.admin_notPrintBTN:hover, .detail-updateBtn:hover, .cancle-btn:hover {
	color: #fff;
    background-color: #212529;
    border-color: #212529;
}

.admin_deleteBTN, .event-del-btn {
	margin-left:5px;
	margin-right:5px;
	border-radius:7px;
	font-weight: 900;
	font-size: 12pt;
	padding:6px;
	color: #dc3545;
    background-color: #fff;
    border-color: #dc3545;
    border:2px solid #dc3545;
    cursor: pointer; 
    user-select: none;	
    font-family: GmarketSansMedium;
}

.admin_deleteBTN:hover, .event-del-btn:hover {
	color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}