@charset "UTF-8";
/*cursor: pointer; 
  user-select: none;	
 */
#admin_tire_brand{
	height:55px;
	display: flex;
	justify-content: space-between;
	align-items:center;
	min-width: 300px;
	background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
	padding-top: 14px;
}
#admin_brand_menu_title{
	margin-left:50px;
}


#admin_tireBrand_reg{
  margin-right:30px;
  background-color: #5F5F5F;
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: flex;
  margin-left:20px;
  font-size: 1em;
  font-weight: bold;
  border-radius: 50px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;	
  transition: all 0.3s ease-in-out;
  justify-content:center;
  align-items: center;
  user-select: none;	
}
#admin_tireBrand_reg:hover {
  background-color: #FFFFFF;
  color: #5F5F5F;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}


#admin_tire_brand_content{
    margin-left:10px;
	margin-right:10px;
    border-spacing:0px;
    width: 99%;
    text-align: center;
    font-size: 20pt;
    margin-bottom: 60px;
    margin-top: 5px;
    border: 1px #a39485 solid;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
}



.admin_tire_content_title{
    font-size: 15pt;
    padding: 15px;
    background-color: #343a40;
    color: white;
    text-align: center;
	border: 2px solid #343a40;
	user-select: none;	
}

.admin_tire_brand_no{
	width: 7%;
}
.admin_tire_brand_img{
	width: 20%;
}
.admin_tire_brand_name{
	width: 30%;
}
.admin_tire_print_order{
	width: 10%;
}
.admin_tire_brand_num{
	width: 10%;
}
.admin_tire_brand_Print{
	width:12%;
}

.admin_tire_brand_management{
	width: 12%;
}



.admin_tire_brands_content{
	text-align: center;
	font-size: 15pt;	
	height: 60px;
}

.admin_tire_table_td{
	border: 1px solid black;
	padding-bottom: 3px;
	padding-top: 3px;	
}

.admin-tire-brand-img{
	margin:5px;
	height: 100%;
	max-height: 80px;
	max-width: 130px;
}
.admin-tire-brand-img-update{
	display: none;
}
.admin-tire-brand-name{
	width: 95%;
	height:60px;
	font-family: GmarketSansMedium;
	font-size: 17pt;
	border: none;
	text-align: center;
}

.admin-tire-brand-order{
	width:30px;
	font-family: GmarketSansMedium;
	font-size: 15pt;
	text-align: center;
	margin-right: 5px;
	border: none;
}








.admin_tire_brand_deleteBTN{
	margin-left:5px;
	margin-right:5px;
	border-radius:7px;
	font-weight: 900;
	font-size: 12pt;
	padding:5px;
	color: #dc3545;
    background-color: #fff;
    border-color: #dc3545;
    cursor: pointer; 
    user-select: none;	
}

.admin_tire_brand_deleteBTN:hover{
	color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
.admin_tire_printBTN{
	border-radius:7px;
	padding:5px;
	color: #0d6efd;
    background-color: #fff;
    border-color: #0d6efd;
    font-size: 12pt;
    font-weight: 900;
    cursor: pointer; 
    user-select: none;	
}
.admin_tire_printBTN:hover{
	color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

    

.admin_tire_notPrintBTN{
	margin-left:5px;
	margin-right:5px;
	border-radius:7px;
	font-weight: 900;
	font-size: 12pt;
	padding:5px;
	color: #212529;
    background-color: #fff;
    border-color: #212529;
    cursor: pointer; 
    user-select: none;	
}
.admin_tire_notPrintBTN:hover{
	color: #fff;
    background-color: #212529;
    border-color: #212529;
}



/*타이어 브랜드 모달  */



#admin_tireBrand_reg{
	cursor: pointer;
    user-select: none;
}


.admin-tire-reg-size-modal{
	position:fixed;
	display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1001;
    justify-content: center;
    align-items: center;
}

.admin-tire-reg-size-modal-container{	
	background-color:white;
	border: 1px solid #6b6b6b;
}

.admin-tire-reg-size-modal-title{
	padding:10px;
	text-align: center;
	border-bottom: 1px solid #6b6b6b;
}
.admin-tire-reg-size-modal-input{
	padding: 10px;
	border-bottom: 1px solid #6b6b6b;
}


.size-span{
	padding: 1px;
	font-size: 15pt;
}



.admin-tire-reg-size-modal-button{
	padding:10px;
	display: flex;
	justify-content: center;
	align-items: center;
}


.admin-tire-reg-size-modal-button1{
	border-radius:7px;
	padding:6px;
	color: #0d6efd;
    background-color: #fff;
    border :1px solid #0d6efd;
    font-size: 12pt;
    font-weight: 900;
    cursor: pointer; 
    user-select: none;
    font-family: GmarketSansMedium;	
    margin-right: 30px;
}
.admin-tire-reg-size-modal-button1:hover{
	color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.admin-tire-reg-size-modal-button2{
	margin-left:5px;
	margin-right:5px;
	border-radius:7px;
	font-weight: 900;
	font-size: 12pt;
	padding:6px;
	color: #212529;
    background-color: #fff;
    border :1px solid #212529;
    cursor: pointer; 
    user-select: none;
    font-family: GmarketSansMedium;	
}
.admin-tire-reg-size-modal-button2:hover{
	color: #fff;
    background-color: #212529;
    border-color: #212529;
}

.admin-tire-brand-size-modal-title{
	display: flex;
	height: 40px;
	align-items: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

.tire-brand-input{
	width: 250px;
	height: 30px;
	text-align: center;
	font-family: GmarketSansMedium;
	font-size: 15pt;
}

.tire-brand-reg-title{
	margin-right: 15px;	
}







