.pay_container {
  display: grid;
  grid-template-columns: 1200px;
  justify-content: center;
  background-color: #f5f5f5;
}

.pay_empty {
  height: 400px;
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-size: 24px;
  font-weight: 400;
  color: #aaa;
}

.pay_titles {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 50px 0;
}

.pay_subtitles {
  padding: 30px 0;
  display: flex;
  font-size: 24px;
  font-weight: 400;
}

.pay_title_left {
  font-size: 35px;
  font-weight: 400;
}

.pay_title_right {
  display: flex;
  gap: 10px;
}

.pay_title_point {
  color: var(--red);
  font-weight: 500;
}

.pay_content {
  display: grid;
  grid-template-columns: 780px 400px;
  grid-template-rows: 1fr;
  gap: 20px;
}

.pay_list {
  display: flex;
  flex-direction: column;
}

.pay_product {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 20px 10px;
  margin-bottom: 20px;
  border-bottom: 3px solid #ddd;
  background-color: white;
  border-radius: 10px;
}
}

.pay_product_delete {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: white;
  color: var(--red);
  font-size: 30px;
}

.pay_product_left,
.pay_product_right {
  display: flex;
  align-items: center;
}

.pay_product_left {
  gap: 30px;
}

.pay_product_right {
  gap: 50px;
}

.pay_product_info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.pay_product_brand {
  font-size: 16px;
  color: #666;
}

.pay_product_name {
  font-size: 24px;
  font-weight: 400;
}

.pay_product_size {
  color: #666;
}

.pay_quantity_box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.pay_quantity {
  color: var(--red);
  font-weight: 400;
}

.pay_product_price {
  font-size: 24px;
  font-weight: 500;
}
.pay_store{
	width : 150px;
	padding : 10px;
	border-radius: 5px;
}
#pay_request_input{
	width: 580px;
    height: 100px;
    resize: none;
}


#pay_map {
  height: 300px;
  width:80%;
  margin: 20px 10%;

}

.pay_shipMethod{
	padding: 20px 20px 20px 10px;
    margin-bottom: 20px;
    border-bottom: 3px solid #ddd;
    background-color: white;
    border-radius: 10px;
}



.pay_shipMethod select,
.pay_shipMethod input {
  width: 200px;
  padding: 5px;
  font-size: 20px;
  border: 1px solid #aaa;
}

.pay_shipMethod input:focus {
  outline: none;
}
#pay_grid_diffrent_height{
	 grid-template-rows: 100px;
}

.pay_shipMethod li,
.pay_customerInfo li {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 40px;
  align-items: center;
  padding: 10px;
}

.pay_shipMethod li div:first-child,
.pay_customerInfo li div:first-child {
  font-size: 18px;
}

.pay_shipMethod li div:last-child,
.pay_customerInfo li div:last-child {
  font-size: 20px;
  font-weight: 400;
}

.pay_customerInfo input {
  font-weight: 400;
  font-size: 18px;
  width: 300px;
  padding: 5px;
  border: 1px solid #aaa;
  font-family: "Noto Sans KR", sans-serif;
}
.pay_customerInfo{
	padding: 20px 20px 20px 10px;
    margin-bottom: 20px;
    border-bottom: 3px solid #ddd;
    background-color: white;
    border-radius: 10px;
}



.pay_customerInfo input:focus {
  outline: none;
}

.pay_customerInfo select {
  font-weight: 400;
  font-size: 20px;
  width: 150px;
  padding: 5px;
  border: 1px solid #aaa;
}

.pay_customerInfo select:first-child {
  width: 100px;
}

.pay_payInfo {
  display: flex;
  padding: 10px;
  padding-bottom: 20px;
  gap: 20px;
  font-size: 20px;
  font-weight: 400;
  border-bottom: 1px solid #ddd;
}


.pay_error {
  font-size: 16px;
  font-weight: 300;
  color: var(--red);
}

.pay_nav {
  position: sticky;
  top: 100px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}

.pay_nav_title {
  padding-bottom: 30px;
  font-size: 24px;
  font-weight: 500;
}

.pay_nav_content {
  display: grid;
  grid-template-columns: 150px 1fr;
  align-items: center;
  padding: 10px 0;
}

.pay_nav_pay {
  font-size: 24px;
  font-weight: 500;
  padding: 10px 0;
  border: none;
  border-radius: 10px;
  background-color: var(--red);
  color: white;
}

.pay_nav_name {
  font-size: 18px;
}

.pay_nav_value {
  font-size: 22px;
  display: flex;
  justify-content: flex-end;
}

.pay_nav_origianl .pay_nav_value {
  color: #aaa;
  text-decoration: line-through;
}

.pay_nav_price .pay_nav_value {
  font-size: 24px;
  color: var(--red);
  font-weight: 500;
}

.pay_nav_price {
  border-top: 1px solid #ddd;
  padding: 30px 0;
  font-weight: 400;
}

.pay_nav_discount {
  padding-bottom: 30px;
}

.complete_content {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-size: 24px;
  font-weight: 400;
  color: #aaa;
}

.pay_method_info {
  height: 120px;
  padding: 30px;
}

.pay_nonbankpay_content {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  gap: 10px;
}
