@charset "UTF-8";

@auth_container{
	position: relative;
}

#auth_searchBox{
	display: flex;
	min-width:900px;
	padding-top: 20px;
	padding-left: 30px;
}

#auth_content{
  	margin-left:10px;
	margin-right:10px;
    border-spacing:0px;
    width: 99%;
    text-align: center;
    font-size: 20pt;
    margin-bottom: 65px;
    border: 1px #a39485 solid;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
}

.auth_form{
	height:70px;
	width: 100%;
	background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}




.auth_searchTitle{
	display: flex;
	justify-content:center;
	align-items:center;
	font-size: 15pt;
	margin-right: 20px;
	padding:6px;
	border-radius:10px;
	background-color: #181C32;
	color:white;
	height: 30px;
}
.auth_searchTitle select{
	height: 29px;
    width: 90px;
    font-size: 14pt;
    border-radius:10px; 
    font-family: GmarketSansMedium;
    text-align: center;
    align-items: center;
    valign: middle;
}


.auth_searchID input{
	height: 25px;
	font-size: 11pt;
	border-radius:10px; 
	font-family: GmarketSansMedium;
}

.auth_searchName input{
	height: 25px;
	font-size: 11pt;
	border-radius:10px; 
	font-family: GmarketSansMedium;
}
.auth_search_name input{
	height: 25px;
	font-size: 11pt;
	border-radius:10px; 
	font-family: GmarketSansMedium;
}

.auth_search_carnum input{
	height: 25px;
	font-size: 11pt;
	border-radius:10px; 
	font-family: GmarketSansMedium;
}



#searchBtn button{
  background-color: #5F5F5F;
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left:20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 50px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin: 20px;
  position: absolute;
  top:60px;
}

#searchBtn button:hover {
	 background-color: #FFFFFF;
  color: #5F5F5F;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}



.auth_content_title{
    font-size: 15pt;
    padding: 15px;
    background-color: #343a40;
    color: white;
    text-align: center;
	border: 1px solid white;
	user-select: none;	
}
.auth_no{
	width: 5%;
}
.auth_sortation{
	width: 8%;
}
.auth_id{
	width: 17%;
}
.auth_name{
	width: 12%;
}
.auth_phoneNum{
	width:15%;
}
.auth_carNum{
	width:20%;
}
.auth_date{
	width:11%;
}
.auth_management{
	width: 12%;
}


#manyAuth_content{
	text-align: center;
	font-size: 15pt;	
	height: 60px;
}

.auth_table_td{
	border: 1px solid black;
}

#auth_Btn{
	user-select: none;	
}

/* 모달 창  */

#auth_modal {
  top: -20px;	
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 5;
  height: 102.5vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.auth-modal-form{
	width: 70%;
}



#auth_modal_container {
	width: 100%;
	padding: 4px;
	background-color: white;
	border-radius: 7px;
}
#auth_modalInfo {
	display: flex;
	background-color: #eee;
	align-items: center;
	justify-content: center;
	height: 70px;
	min-width: 800px;
	font-size: 15pt;
	font-weight: 600;
}

#auth_modal_page {
  width: 100%;
  padding: 40px;
  padding-bottom: 5px;
}
#auth-modal-in-info{
	width:90%;
	border: 1px solid #eee;
}

.auth-modal-lenght{
	display: flex;
}

.auth-modal-info-title{
	background-color: #212529;
	border: 1px solid #212529;
	border-bottom: 1px solid white;
	color: white;
	width: 20%;
	font-size: 15pt;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
}

.auth-modal-info-final-line{
	border-bottom: 1px solid #212529;
}

.auth-modal-info-content{
	width: 30%;
	border: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
	font-size: 15pt;
}

#auth_modal_sortation{
	border:2px solid black;
	width: 100px;
	font-size: 15pt;
	text-align: center;
	border-radius: 5px;
	font-family: GmarketSansMedium;
}





#auth_modal_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  cursor: pointer; 
  user-select: none;	
}
.admin_printBTN{
	margin-right:30px;
	border-radius:7px;
	padding:6px;
	color: #0d6efd;
    background-color: #fff;
    border-color: #0d6efd;
    font-size: 12pt;
    font-weight: 900;
    cursor: pointer; 
    user-select: none;
    font-family: GmarketSansMedium;	
}
.admin_printBTN:hover{
	color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}



.admin_notPrintBTN{
	margin-left:5px;
	margin-right:5px;
	border-radius:7px;
	font-weight: 900;
	font-size: 12pt;
	padding:6px;
	color: #212529;
    background-color: #fff;
    border-color: #212529;
    cursor: pointer; 
    user-select: none;
    font-family: GmarketSansMedium;	
}
.admin_notPrintBTN:hover{
	color: #fff;
    background-color: #212529;
    border-color: #212529;
}

.admin_deleteBTN {
	margin-left:5px;
	margin-right:5px;
	border-radius:7px;
	font-weight: 900;
	font-size: 12pt;
	padding:6px;
	color: #dc3545;
    background-color: #fff;
    border-color: #dc3545;
    border:2px solid #dc3545;
    cursor: pointer; 
    user-select: none;	
    font-family: GmarketSansMedium;
}

.admin_deleteBTN:hover {
	color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
.admin_cenBTN{
    margin-left:15px;
	margin-right:15px;
	border: 2px solid #212529;
	border-radius:7px;
	font-weight: 900;
	font-size: 13pt;
	padding:6px;
	color: #212529;
    background-color: #fff;
    cursor: pointer; 
    user-select: none;
    font-family: GmarketSansMedium;	
}
.admin_cenBTN:hover{
	color: #fff;
    background-color: #212529;
}



