@charset "UTF-8";

@auth_container{
	position: relative;
}

#auth_searchBox{
	display: flex;
	min-width:900px;
	padding-top: 20px;
	padding-left: 30px;
}

#auth_content{
  	margin-left:10px;
	margin-right:10px;
    border-spacing:0px;
    width: 99%;
    text-align: center;
    font-size: 20pt;
    margin-bottom: 60px;
    border: 1px #a39485 solid;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
}

.auth_form{
	height:70px;
	width: 100%;
	background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}




.auth_searchTitle{
	display: flex;
	justify-content:center;
	align-items:center;
	font-size: 15pt;
	margin-right: 20px;
	padding:6px;
	border-radius:10px;
	background-color: #181C32;
	color:white;
	height: 30px;
}
.auth_searchTitle select{
	height: 29px;
    width: 90px;
    font-size: 14pt;
    border-radius:10px; 
    font-family: GmarketSansMedium;
    text-align: center;
    align-items: center;
    valign: middle;
}


.auth_searchID input{
	height: 25px;
	font-size: 11pt;
	border-radius:10px; 
	font-family: GmarketSansMedium;
}

.auth_searchName input{
	height: 25px;
	font-size: 11pt;
	border-radius:10px; 
	font-family: GmarketSansMedium;
}
.auth_search_name input{
	height: 25px;
	font-size: 11pt;
	border-radius:10px; 
	font-family: GmarketSansMedium;
}

.auth_search_carnum input{
	height: 25px;
	font-size: 11pt;
	border-radius:10px; 
	font-family: GmarketSansMedium;
}



#searchBtn button{
  background-color: #5F5F5F;
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left:20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 50px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin: 20px;
  position: absolute;
  top:60px;
}

#searchBtn button:hover {
	 background-color: #FFFFFF;
  color: #5F5F5F;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}



.auth_content_title{
    font-size: 15pt;
    padding: 15px;
    background-color: #343a40;
    color: white;
    text-align: center;
	border: 1px solid white;
	user-select: none;	
}
.auth_no{
	width: 5%;
}
.auth_sortation{
	width: 8%;
}
.auth_id{
	width: 17%;
}
.auth_name{
	width: 12%;
}
.auth_phoneNum{
	width:15%;
}
.auth_carNum{
	width:20%;
}
.auth_date{
	width:11%;
}
.auth_management{
	width: 12%;
}


#manyAuth_content{
	text-align: center;
	font-size: 15pt;	
	height: 60px;
}

.auth_table_td{
	border: 1px solid black;
}

#auth_Btn{
	user-select: none;	
}

/* 모달 창  */

#auth_modal {
  top: -20px;	
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 5;
  height: 102.5vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

#auth_modal_container {
  border-radius: 40px;
  border: 2px solid #212529;
  background-color: white;
  width: 1050px;
  text-align: center;
}
#auth_modalInfo {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-color: #eee;
  border-bottom: 1px solid #212529;
  padding: 15px;
  font-size: 17pt;
  font-weight: 900;
}

#auth_modal_page {
  width: 100%;
  padding: 30px;
  padding-bottom: 5px;
}

#auth_basicInfo {
  display: flex;
}

#auth_basic_content {
  display: block;
}

.auth_modal_title {
  width: 100px;
  border-right: 1px solid #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #212529;
  color: white;
}

.auth_modal_content {
  display: flex;
  padding: 5px;
  padding-bottom:10px;
  padding-top:10px;
  border: 1px solid #212529;
  width: 880px;
}

#auth_companyInfo {
  display: flex;
}
#auth__modal_searchTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11pt;
  margin-left: 10px;
  margin-right: 10px;
  padding-right:5px;
  padding-left:5px;
  border-radius: 8px;
  background-color: #c0c0c0;
  color: black;
  height: 37px;
}

#auth_modal_sortation {
  height: 28px;
  width: 70px;
  font-size: 12pt;
  border-radius: 10px;
  text-align: center;
  align-items: center;
  margin-left: 5px;
  font-family: GmarketSansMedium;
  valign: middle; 
    border: none;
}

.auth_modal_input {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11pt;
  margin-left: 10px;
  margin-right: 10px;
  padding-right:5px;
  padding-left:5px;
  border-radius: 8px;
  background-color: #c0c0c0;
  color: black;
  height: 37px;
}
.auth_modal_input input {
  padding:2px;
  padding-left:5px;
  margin-left: 5px;
  width: 110px;
  border-radius: 5px;
  height: 20px;
  font-family: GmarketSansMedium; 
  height: 25px;
  font-size: 12pt;
  border: none;
}

#auth_id{
	width: 190px;
}
#auth_phone{
	width: 130px;
}
#auth_carNUm{
	width: 130px;
}


.auth_modal_addr input {
  width: 600px;
  margin-left:10px;
  font-family: GmarketSansMedium; 
}
#auth_modal_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  cursor: pointer; 
  user-select: none;	
}



