@charset "UTF-8";


#event-modal {
	width: -webkit-fill-available;
	position: fixed;
    top: 0;
	/*
    height: 100vh;
      */
}
.modal-wrapper {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items:center;
	background-color: rgba(0, 0, 0, 0.3);
}
.notice_modalcontent{
	width: 70%;
	height: 600px;
	position: relative;
	background-color: white;
    border-radius: 7px;
    padding: 4px;	
}

.modal_table {
	background-color: white;
	width: 96%;
	height: 100%;
	border-collapse: collapse;
	margin: 20px;
}

.left_td {
	background-color: #333333;
	color: white;
	font-size: 15pt;
	padding: 1px;
}

.modal_table td {
	text-align: center;
	border: 1px solid black;
	height: 45px;
}

.notice_header {
	display: flex;
	background-color: #eee;
	align-items: center;
	justify-content: center;
	height: 70px;
	font-size: 15pt;
	font-weight: 600;
}

.modalBtn {
	display: flex;
	background-color: white;
	align-items: center;
	justify-content: center;
	height: 20px;
}



#e_content {
	width: 90%;
	height: 170px;
	margin-top: 10px;
	margin-bottom: 10px;
	resize: none;
	font-size: 1rem;
}

#txtInput_Reply {
	width: 90%;
	height: 170px;
	margin-top: 10px;
	margin-bottom: 10px;
	resize: none;
	font-size: 1.5rem;
}

#titleInput_M {
	height: 30px;
	width: 80%;
}

#titleInput_M:focus {
	outline: none;
}


.modalBtn1 {
	width: 90px;
	height: 35px;
	margin: 5px;
	margin-right: 15px;
    padding: 6px;
    border-radius: 7px;
    border: 1px solid #0d6efd;
    color: #0d6efd;
    background-color: #fff;
    font-size: 13pt;
    font-weight: 900;
    cursor: pointer;
    user-select: none;
    font-family: GmarketSansMedium;
}
.modalBtn1:hover{
	color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.modalBtn2 {
	width: 90px;
	height: 35px;
	margin: 10px;
	margin-left: 15px;
    margin-right: 15px;
    padding: 6px;
    border-radius: 7px;
    border-color: #212529;
    font-weight: 900;
    font-size: 13pt;
    color: #212529;
    background-color: #fff;
    cursor: pointer;
    user-select: none;
    font-family: GmarketSansMedium;
}
.modalBtn2:hover{
	color: #fff;
    background-color: #212529;
    border-color: #212529;
}


.modalInput {
	height: 30px;
	width: 90%;
}

.event-wrap {
	margin-top: 150px;
	width: 100%;
	justify-content: center;
}

.event-item {
	margin-top: 20px;
	width: 60%;
	border-top: 2px solid green;
	display: inline-block;
}

.event-row {
	display: flex;
	border-bottom: 2px solid black;
	padding: 25px;
	justify-content: space-between;
}

.event-col1 {
	width: 80px;
	text-align: left;
}

.event-col2 {
	width: 680px;
	text-align: left;
}
.event-col2 > img {
	width: 100px;
}

.event-col3 {
	width: 109px;
}
.event-col3 > button {
	float: left;
}

#event-reg-btn-box{
	padding-left:50px;
	min-width: 1300px;
	height: 60px;
	display: flex;
    align-items: center;
	background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}