@charset "UTF-8";

.modal_table {
	background-color: white;
	width: 100%;
	border-collapse: collapse;
	height: 100%;
}
.left_td{
	background-color: #212529;
	border: 1px solid #212529;
	border: 1px solid white;
	color: white;
	padding: 10px;
	height: 30px;
	font-size: 15pt;
}
#sortationSelect_M{
	width: 150px;
    border-radius: 5px;
    padding: 5px;
    font-size: 14pt;
    font-family: GmarketSansMedium;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

.modal_table td {
	text-align: center;
}

.notice_header {
	display: flex;
	background-color: #eee;
	align-items: center;
	justify-content: center;
	height: 70px;
	font-size: 15pt;
	font-weight: 600;
}
#notice_modal_main_content{
	margin: 20px;
}

.modalBtn {
	display: flex;
	background-color: white;
	align-items: center;
	justify-content: center;
	height: 70px;
}

#txtInput_M {
	width: 90%;
    height: 280px;
    margin-top: 10px;
    margin-bottom: 10px;
    resize: none;
    font-size: 1.5rem;
    font-family: GmarketSansMedium;
    padding: 10px;
}

#titleInput_M {
	height: 30px;
	width: 95%;
	font-family: GmarketSansMedium;
	padding-left: 10px;
	font-size: 13pt;
}
#titleInput_M:focus {
	outline: none;
}
.modal-wrapper {
	width: 100%;
    height: 107vh;
    display: flex;
    padding-top: 60px;
    justify-content: center;
 	align-items:center;
 	margin-top:-100px;
    background-color: rgba(0, 0, 0, 0.3);
}
.notice_modalcontent{
	background-color: white;
	border-radius: 7px;
	padding: 4px;
}

.modalBtn1{
	margin-right: 15px;
    border-radius: 7px;
    padding: 8px;
    color: #0d6efd;
    background-color: #fff;
    border: 1px solid #0d6efd;
    font-size: 15pt;
    font-weight: 900;
    cursor: pointer;
    user-select: none;
    font-family: GmarketSansMedium;
}
.modalBtn1:hover{
	color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.modalBtn2{
	margin-left: 15px;
    margin-right: 15px;
    border-radius: 7px;
    font-weight: 900;
    font-size: 15pt;
    padding: 8px;
    color: #212529;
    background-color: #fff;
    border-color: #212529;
    cursor: pointer;
    user-select: none;
    font-family: GmarketSansMedium;
}
.modalBtn2:hover {
	color: #fff;
    background-color: #212529;
    border-color: #212529;
}